{#
/**
 * @file
 * Default theme implementation for the file download counter
 *
 * Available variables:
 * - counter: The counter.
 *
 * @ingroup themeable
 */
#}
<p class="fdwc-file-download-counter">{{ 'Number of downloads:'|t }} {{ counter }}</p>