.border-radius(@value) {
  border-radius: @value;
}

.transition(@properties: all; @duration: .4s; @timing-function: ease; @delay: 0s) {
  transition: @arguments;
}

.translateX(@value) {
  transform: translateX(@value);
}

.translateY(@value) {
  transform: translateY(@value);
}