{#
/**
 * @file
 * Default theme implementation for the file download formatter
 *
 * Available variables:
 * - url: The url to the download link
 * - fileName: The name of the file
 *
 * @ingroup themeable
 */
#}
<a href="{{ url }}" class="fdwc-file-download">{{ fileName }}</a>